<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<p>Room: <%= room.name %></p>
<p>Reward: <%= room.reward %></p>
<form action="/rooms/<%= room._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Room</button>
</form>

<%- include('../partials/footer') %>