<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<a href="/items/new"><button>Add Item</button></a>

<div id="all-items-container">
    <table id="all-items-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item) { %>
                <tr>
                    <td><img src="/images/items/<%= item.image %>"></td>
                    <td><a href="/items/<%= item._id %>" class="item-name"><%= item.name %></a></td>
                    <td><%= item.desc %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>



<%- include('../partials/footer') %>