<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<div id="item-container">
    <p class="item-name"><b>Name:</b> <%= item.name %></p>
    <p><b>Description:</b> <em><%= item.desc %></em></p>
    <p><b>Where to find:</b> <%= item.where %></p>
    <p><b>Season:</b> <%= item.season %></p>
    <img src="/images/items/<%= item.image %>">
</div>

<%- include('../partials/footer') %>