<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>

<div id="item-container">
    <div class="item-img-container">
        <img src="/images/items/<%= item.image %>">
    </div>
    
    <p class="item-name"><b>Name:</b> <%= item.name %></p>
    <p><b>Description:</b> <em><%= item.desc %></em></p>
    <p><b>Where to find:</b></p>
    <ul>
        <% item.where.forEach(function(w) { %>
            <li><%= w %></li>
        <% }); %>
    </ul>
    <p><b>Season:</b> <%= item.season %></p>
    
    <div class="edit-delete-container">
        <% if (user?._id.equals(item.user)) { %>
            <a href="/items/edit/<%= item._id %>"><button>Edit Item</button></a>
            <form action="/items/<%= item._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Item</button>
            </form>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>