<%- include('../partials/header') %>

<h1><%= title %></h1>
<p class="item-name">Name: <%= item.name %></p>
<p>Description: <em><%= item.desc %></em></p>
<p>Where to find: <%= item.where %></p>
<p>Season: <%= item.season %></p>
<img src="/images/items/<%= item.image %>">

<%- include('../partials/footer') %>