<%- include('../partials/header') %>

<div class="title-container">
    <h2><%= title %></h2>
</div>
<a href="/bundles/new"><button>Add Bundle</button></a>

<div>
    <table>
        <thead>
            <th>Image</th>
            <th>Name</th>
            <th>Reward</th>
            <th>Room</th>
        </thead>
        <tbody>
            <% bundles.forEach(function(bundle) { %>
            <tr>
                <td><a href="/bundles/<%= bundle._id %>"><img src="/images/bundles/<%= bundle.image %>"></a></td>
                <td><a href="/bundles/<%= bundle._id %>"><%= bundle.name %></a></td>
                <td><%= bundle.reward %></td>
                <td><%= bundle.bundleRoom %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>